/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
.search div.mat-form-field-underline {
  display: none !important;
}
div.mat-paginator-range-label {
  opacity: 0 !important;
}
div.mat-paginator-page-size{
  opacity: 0 !important;
}
